* {
    font-family: "Roboto", "sans-serif";
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

}

.main {
    min-height: 95vh;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 8px;
    font-weight: 900;
}

.logo-text, .hero-text {
    /* background-color: red; */
    color: white;
}

.hero-text {
    font-weight: 900;
    font-size: 48px;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a, .hero-subtext{
    text-decoration: none;
    font-size: 18px;
    color:wheat;
}

.links a{
    font-size: 14px;
    margin: 8px;
}

.top-wrap {
    
    margin: 0 10vw;
}

.top-flex{
    background-color: #1F2937;
}

.sign-up {
    border: none;
    font-size: 18px;
    color:white;
    background-color: #3882f6;
    border-radius: 5px;
    margin-top: 8px;
    padding: 5px 20px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 300px;
}

.hero-img {
    display: flex;
    justify-content: center;
    height: 203px;
    /* flex-grow: 1; */
}

.bottom-header{
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.hero-img img {
    /* width: 300px; */
}

.images img {
    width: 128px;
}

.images {
    margin: 0 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
}

.img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
    /* justify-content: center; */
}

/* .images-wrap {

} */

.illustration-info {
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 25px 0;
}

.quote-block {
    margin: 25px 20vw;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-grow: 1;
}

.citate {
    color: #1F2937;
    font-style:italic;
    font-size:24px;
}

.citate-author {
    margin-right: 8px;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 18px;
}


.quote-wrap {
    background-color: #E5E7EB;
}

.sign-wrap {
    background-color: #3882f6;
    margin: 25px 10vw;
    padding: 25px 0;
    border-radius: 8px;
}

.sign-block {
    margin: 0 10vw;
    display: flex;
    justify-content: space-between;
    /* align-items: grow; */
}

.footer {
    margin-bottom: 0px;
    padding: 16px 0 16px 0;
    background-color: #1F2937;
    color: white;
    display: flex;
    /* flex-shrink: 1; */
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.sign-text {
    color:white;
    font-size: 24px;
}

.sign-subtext {
    color: wheat;
    font-size: 18px;
}

.sign-button {
    border: 3px solid white;
    background-color: #3882f6;
    color:white;
    padding: 8px 32px;
    border-radius: 8px;
    font-size:18px;
}

.button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    
}